<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Travel</title>
</head>

<body>
    <div class="container-all">
        <header class="header">
            <div class="header-row">
                <div class="header-col">
                    <a href="{{url_for('index')}}" class="header-a"><img src="../static/img/world.png" alt="" class="header-icon"></a>
                    <p class="header-slogan">全世界最大旅遊景點平台</p> 
                </div>
                <div class="header-col">

                </div>
            </div>
        </header>
        <div class="main-show">
            <aside class="aside">
                <div class="aside-title">
                    旅遊頻道
                </div>
                <a href="{{url_for('index')}}" class="aside-link">
                    <div class="aside-content">
                        臺灣
                    </div>
                </a>
                <a href="./region2.html" class="aside-link">
                    <div class="aside-content">
                        美洲
                    </div>
                </a>
                <a href="./region3.html" class="aside-link">
                    <div class="aside-content">
                        紐澳
                    </div>
                </a>
                <a href="./region4.html" class="aside-link">
                    <div class="aside-content">
                        非洲
                    </div>
                </a>
                <a href="./region5.html" class="aside-link">
                    <div class="aside-content">
                        歐洲
                    </div>
                </a>
                <a href="./region6.html" class="aside-link">
                    <div class="aside-content">
                        日韓
                    </div>
                </a>
                <a href="./region7.html" class="aside-link">
                    <div class="aside-content">
                        中亞
                    </div>
                </a>
                <a href="./region8.html" class="aside-link">
                    <div class="aside-content">
                        東南亞
                    </div>
                </a>
            </aside>
        </div>
        <div class="brand-new">
            最新促銷
        </div>
        <div class="block">
            <div class="img-list">
                <img src="../static/img/Bangkok.jpg">
                <img src="../static/img/australia.jpg">
                <img src="../static/img/paris.jpg">
            </div>
        </div>
        <div class="block">
            <div class="img-list">
                <img src="../static/img/middle1.jpg">
                <img src="../static/img/korea.jpg">
                <img src="../static/img/taipei.jpg">
            </div>
        </div>
        <footer class="footer">
            copyright 2019
        </footer>
    </div>

</body>

</html>