<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
    <title>Travel</title>
</head>
<body>
    <div class="container-all">
        <header class="header">
            <div class="header-row">
                <div class="header-col">
                    <a href="{{url_for('index')}}" class="header-a"><img src="../static/img/world.png" alt="" class="header-icon"></a>
                    <p class="header-slogan">全世界最大旅遊景點平台</p> 
                </div>
                <div class="header-col">

                </div>
            </div>
        </header>

        <div class="content-area">
            <aside class="aside">
                <div class="aside-title">
                    台灣頻道
                </div>
                <a href="{{url_for('doublepei')}}" class="aside-link">
                    <div class="aside-content">
                        雙北
                    </div>
                </a>
                <a href="{{url_for('taoyuan')}}" class="aside-link">
                    <div class="aside-content">
                        桃園
                    </div>
                </a>
                <a href="{{url_for('hsinju')}}" class="aside-link">
                    <div class="aside-content">
                        新竹
                    </div>
                </a>
                <a href="./台中.html" class="aside-link">
                    <div class="aside-content">
                        台中
                    </div>
                </a>
                <a href="./city5.html" class="aside-link">
                    <div class="aside-content">
                        嘉義
                    </div>
                </a>
                <a href="./city6.html" class="aside-link">
                    <div class="aside-content">
                        台南
                    </div>
                </a>
                <a href="./city7.html" class="aside-link">
                    <div class="aside-content">
                        高雄
                    </div>
                </a>
                <a href="{{url_for('news')}}" class="aside-link">
                    <div class="aside-content">
                        最新消息
                    </div>
                </a>
            </aside>
            <article class="main-area">
                <div class="main-row-title">
                    台北-九份老街
                </div>
                <div class="main-introduce-photo">
                    <img src="../static/img/九份老街_1.jpg" alt="photo1" class="main-photo">
                    <img src="../static/img/九份老街_2.jpg" alt="photo2" class="main-photo">
                    <img src="../static/img/九份老街_3.jpg" alt="photo3" class="main-photo">
                    <img src="../static/img/九份老街_4.jpg" alt="photo4" class="main-photo">
                </div>
                <div class="main-introduce">
                    　　與日本動畫大師宮崎駿電影場景相似的「九份老街」，街道由「三橫一豎」等四條道路為主，被許多階梯圍繞，
                    別具特色。孤懸在山丘上的九份山城，以能鳥瞰基隆嶼山海險峙，霧雨迷濛的美景而聞名。在九份老街可逛逛特色紀念品店，
                    及品嚐在地美食，沿路上充滿懷舊的建築也讓人不禁駐足欣賞，若是想暫時遠離熙嚷的街道，不妨走入九份的茶屋，
                    九份的茶屋各具特色，除了品茗之餘，包括陶瓷茶具的捏製巧思、來自臺灣產地的各式茶葉、茶的烹煮方式與茶道、茶屋的設計與生活美學、精緻茶點餐飲及四季晨晚各異的山城景緻，
                    駐足在此泡上一壺好茶，享受悠閒的時光，欣賞專屬的山城美景。夜晚的九份，商家燈火鼎盛的美麗景象，別有一番風味，不妨在此留宿一晚，感受有別於白日的不夜風情。 <br>
                    <br>
                    自行開車：<br>
                    國道1號-八堵交流道下-省道臺62線-瑞芳交流道下-省道臺2丁線-縣道102線。<br>
                    <br>
                    大眾運輸：<br>
                    搭高鐵或臺鐵至臺北站下-轉搭臺北捷運至忠孝復興站下-轉搭基隆客運(往金瓜石)至九份站下。<br>
                    註：基隆客運搭車處原忠孝東路改為復興南路。<br>
                    <br>
                    <div class="main-introduce-map">
                        地點:九份老街<br>
                        地址:新北市瑞芳區基山街<br>
                        相關連結:https://www.travel.taipei/zh-tw/attraction/details/298
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.763393134848!2d121.84299401484346!3d25.109869483936926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x345d4517fafb9471%3A0x5f15825aa6a4a7d2!2z5Lmd5Lu96ICB6KGX!5e0!3m2!1szh-TW!2stw!4v1555531880748!5m2!1szh-TW!2stw" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    
                </div>
            </article>
        </div> 

        <footer class="footer">
            <div>
                copyright2019
            </div>
            
        </footer>
    </div>
</body>
</html>