<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
    <title>Travel</title>
</head>
<body>
    <div class="container-all">
        <header class="header">
            <div class="header-row">
                <div class="header-col">
                    <a href="{{url_for('index')}}"  class="header-a"><img src="../static/img/world.png" alt="" class="header-icon"></a>
                    <p class="header-slogan">全世界最大旅遊景點平台</p> 
                </div>
                <div class="header-col">

                </div>
            </div>
        </header>

        <div class="content-area">
            <aside class="aside">
                <div class="aside-title">
                    台灣頻道
                </div>
                <a href="{{url_for('doublepei')}}" class="aside-link">
                    <div class="aside-content">
                        雙北
                    </div>
                </a>
                <a href="{{url_for('taoyuan')}}" class="aside-link">
                    <div class="aside-content">
                        桃園
                    </div>
                </a>
                <a href="{{url_for('hsinju')}}" class="aside-link">
                    <div class="aside-content">
                        新竹
                    </div>
                </a>
                <a href="./city4.html" class="aside-link">
                    <div class="aside-content">
                        台中
                    </div>
                </a>
                <a href="./city5.html" class="aside-link">
                    <div class="aside-content">
                        嘉義
                    </div>
                </a>
                <a href="./city6.html" class="aside-link">
                    <div class="aside-content">
                        台南
                    </div>
                </a>
                <a href="./city7.html" class="aside-link">
                    <div class="aside-content">
                        高雄
                    </div>
                </a>
                <a href="{{url_for('news')}}" class="aside-link">
                    <div class="aside-content">
                        最新消息
                    </div>
                </a>
            </aside>
            <article class="main-area">
                <div class="main-row-title">
                    台北-台北市立動物園
                </div>
                <div class="main-introduce-photo">
                    <img src="../static/img/動物園_1.jpg" alt="photo1" class="main-photo">
                    <img src="../static/img/動物園_2.jpg" alt="photo2" class="main-photo">
                    <img src="../static/img/動物園_3.jpg" alt="photo3" class="main-photo">
                    <img src="../static/img/動物園_4.jpg" alt="photo4" class="main-photo">
                </div>
                <div class="main-introduce">
                        臺北市立動物園歷史悠久，是臺灣唯一有百年歷史的動物園，不但是社會大眾體驗自然、認識野生動物的好去處，
                        更是陪伴許多臺北市民成長的重要記憶。無論您是否曾經在這裡經歷校外踏青、牽手約會，還是親子共遊，
                        在建園一百週年的歡樂時刻，動物園的工作同仁和動物朋友們歡迎大家蒞臨臺北動物園，發掘不一樣的感動！<br>
                    <br>
                    交通方式<br>
                    遊客列車	列車總站 (16:30末班車)←→鳥園站 (17:00末班車)<br>
                    貓纜接駁巴士	鳥園站 (16:40末班車)←→貓纜動物園南站 (16:00末班車)<br>
                    ※ 備註：<br>
                        1. 貓空纜車相關公告及旅遊資訊敬請參考捷運公司「貓空纜車網站」<br>
                        2. 往返「列車總站」與「貓纜動物園南站」，可於「鳥園車站」轉乘 (請依引導路線轉乘，無需出站)<br>
                        3.貓纜動物園南站遇貓空纜車例行保養維護日或停駛時未提供服務<br>
                    <div class="main-introduce-map">
                        地點:台北市立動物園<br>
                        地址:台北市文山區新光路二段30號<br>
                        相關連結:https://www.zoo.gov.taipei/Default.aspx
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.0520609976734!2d121.57884711484117!3d24.998346883988972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa604a32818f%3A0xaafe06fd09b4d766!2z6Ie65YyX5biC56uL5YuV54mp5ZyS!5e0!3m2!1szh-TW!2stw!4v1555510838345!5m2!1szh-TW!2stw" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    
                </div>
            </article>
        </div> 

        <footer class="footer">
            <div>
                copyright2019
            </div>
            
        </footer>
    </div>
</body>
</html>