<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
    <title>Travel</title>
</head>
<body>
    <div class="container-all">
        <header class="header">
            <div class="header-row">
                <div class="header-col">
                    <a href="{{url_for('index')}}"  class="header-a"><img src="../static/img/world.png" alt="" class="header-icon"></a>
                    <p class="header-slogan">全世界最大旅遊景點平台</p> 
                </div>
                <div class="header-col">

                </div>
            </div>
        </header>

        <div class="content-area">
            <aside class="aside">
                <div class="aside-title">
                    台灣頻道
                </div>
                <a href="{{url_for('doublepei')}}" class="aside-link">
                    <div class="aside-content">
                        雙北
                    </div>
                </a>
                <a href="{{url_for('taoyuan')}}" class="aside-link">
                    <div class="aside-content">
                        桃園
                    </div>
                </a>
                <a href="{{url_for('hsinju')}}" class="aside-link">
                    <div class="aside-content">
                        新竹
                    </div>
                </a>
                <a href="./台中.html" class="aside-link">
                    <div class="aside-content">
                        台中
                    </div>
                </a>
                <a href="./city5.html" class="aside-link">
                    <div class="aside-content">
                        嘉義
                    </div>
                </a>
                <a href="./city6.html" class="aside-link">
                    <div class="aside-content">
                        台南
                    </div>
                </a>
                <a href="./city7.html" class="aside-link">
                    <div class="aside-content">
                        高雄
                    </div>
                </a>
                <a href="{{url_for('news')}}" class="aside-link">
                    <div class="aside-content">
                        最新消息
                    </div>
                </a>
            </aside>
            <article class="main-area">
                <div class="main-row-title">
                    桃園-大溪老街
                </div>
                <div class="main-introduce-photo">
                    <img src="../static/img/大溪老街_1.jpg" alt="photo1" class="main-photo">
                    <img src="../static/img/大溪老街_2.jpg" alt="photo2" class="main-photo">
                    <img src="../static/img/大溪老街_3.jpg" alt="photo3" class="main-photo">
                    <img src="../static/img/大溪老街_4.jpg" alt="photo4" class="main-photo">
                </div>
                <div class="main-introduce">
                        　　大溪是桃園最早發展的地方，透過大漢溪小帆船行駛淡水河，與大陸貿易興盛，造就了許多商號與商賈。
                        日治大正時代流行巴洛克建築風格，和平路、中山路等老街，各商號融合巴洛克式繁飾主義和閩南傳統裝飾圖案，
                        包括希臘山頭、羅馬柱子和中式的魚、蝙蝠等祈求吉慶的圖案混合，形成一種大溪專有的特色。和平老街因為開發較晚，
                        老屋的保存狀況也較好，街上特色商店林立，十分熱鬧。 <br>
                        　　大溪老街週邊有大溪橋、李騰芳古宅、寺廟古蹟、武德殿文化古蹟及大溪木藝生態博物館等知名景點，
                        當然更要品嚐老街上傳統的台灣古早味小吃、體驗台灣童玩，尤其是大溪豆干、月光餅、花生糖、豆花、碗粿、湯圓等，
                        都是不容錯過的台灣道地美食！絕對是來到桃園，感受道地台灣味必去的景點之一！<br>
                    <br>
                    交通方式:<br>
                    自行開車：<br>
                    1. 國道1號-平鎮系統交流道-省道臺66線-大溪交流道下-縣道112甲線-省道臺3線-省道臺7線-和平路。<br>
                    2. 國道3號-大溪交流道下-縣道112甲線-省道臺3線-省道臺7線-和平路。<br>
                    <br>
                    大眾運輸：<br>
                    搭臺鐵至桃園站、中壢站下-轉搭桃園客運(往大溪)至大溪站下。
                    <br>
                    <div class="main-introduce-map">
                        地點:大溪老街<br>
                        地址:桃園市大溪區和平路<br>
                        相關連結:https://travel.tycg.gov.tw/zh-tw/travel/attraction/414
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3619.374960929771!2d121.28532261483869!3d24.885188584042254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3468182238ecc34d%3A0x9eb6fcc6b7650372!2z5aSn5rqq6ICB6KGX!5e0!3m2!1szh-TW!2stw!4v1555532583107!5m2!1szh-TW!2stw" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    
                </div>
            </article>
        </div> 

        <footer class="footer">
            <div>
                copyright2019
            </div>
            
        </footer>
    </div>
</body>
</html>