<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
    <title>Travel</title>
</head>
<body>
    <div class="container-all">
        <header class="header">
            <div class="header-row">
                <div class="header-col">
                    <a href="./index.html" class="header-a"><img src="../static/img/world.png" alt="" class="header-icon"></a>
                    <p class="header-slogan">全台最大旅遊景點平台</p> 
                </div>
                <div class="header-col">

                </div>
            </div>
        </header>

        <div class="content-area">
            <aside class="aside">
                <div class="aside-title">
                    台灣頻道
                </div>
                <a href="./雙北.html" class="aside-link">
                    <div class="aside-content">
                        雙北
                    </div>
                </a>
                <a href="./桃園.html" class="aside-link">
                    <div class="aside-content">
                        桃園
                    </div>
                </a>
                <a href="./新竹.html" class="aside-link">
                    <div class="aside-content">
                        新竹
                    </div>
                </a>
                <a href="./台中.html" class="aside-link">
                    <div class="aside-content">
                        台中
                    </div>
                </a>
                <a href="./city5.html" class="aside-link">
                    <div class="aside-content">
                        嘉義
                    </div>
                </a>
                <a href="./city6.html" class="aside-link">
                    <div class="aside-content">
                        台南
                    </div>
                </a>
                <a href="./city7.html" class="aside-link">
                    <div class="aside-content">
                        高雄
                    </div>
                </a>
                <a href="./news.html" class="aside-link">
                    <div class="aside-content">
                        最新消息
                    </div>
                </a>
            </aside>
            <article class="main-area">
                <div class="main-row-title">
                    桃園景點
                </div>
                <div class="main-row">
                    <div class="main-row-col">
                        <a href="./page1.html" class="row-col-ref">
                            <img src="../static/img/逢甲夜市_0.jpg" alt="photo9" class="col-photo">
                        </a>
                        <div class="main-row-col-describe">
                            <div class="describe-title">
                                逢甲夜市
                            </div>
                            臺中著名商圈之一，位於逢甲大學方圓1公里之內，商圈內的小吃讓你讚不絕口，服飾獨具個性、物美價廉
                        </div>
                    </div>
                    <div class="main-row-col">
                        <a href="./page1.html" class="row-col-ref">
                            <img src="../static/img/彩虹村_0.JPG" alt="photo9" class="col-photo">
                        </a>
                        <div class="main-row-col-describe">
                            <div class="describe-title">
                                彩虹村
                            </div>
                            小小的眷村，因為彩虹爺爺充滿童趣的畫作，讓眷村有了新的生命力，近期還多了彩虹溜滑梯，獨特的風格讓眷村更加繽紛豐富
                        </div>
                    </div>
                    <div class="main-row-col">
                        <a href="./page1.html" class="row-col-ref">
                            <img src="../static/img/國家歌劇院_0.jpg" alt="photo9" class="col-photo">
                        </a>
                        <div class="main-row-col-describe">
                            <div class="describe-title">
                                臺中國家歌劇院
                            </div>
                            繼 1987 年國家兩廳院落成啟用後，睽違近 30 年後第一座開幕的國家級表演場館，它不僅是城市新地標，更象徵文明的跨進
                        </div>
                    </div>
                    <div class="main-row-col">
                        <a href="./page1.html" class="row-col-ref">
                            <img src="../static/img/高美溼地_0.jpg" alt="photo9" class="col-photo">
                        </a>
                        <div class="main-row-col-describe">
                            <div class="describe-title">
                                高美溼地
                            </div>
                            擁有豐富的天然資源，是國內少數幾處雁鴨集體繁殖區之一。目前已逐漸取代大肚溪口，成為喜好賞鳥人士的新興賞線
                        </div>
                    </div>
                    <div class="main-row-col">
                        <a href="./page1.html" class="row-col-ref">
                            <img src="../static/img/路思義教堂_0.jpg" alt="photo9" class="col-photo">
                        </a>
                        <div class="main-row-col-describe">
                            <div class="describe-title">
                                路思義教堂
                            </div>
                            是一座位東海大學的基督新教禮拜堂，為著名台灣建築師陳其寬與美國華裔建築師貝聿銘之作，於1963年11月2日落成
                        </div>
                    </div>
                    <div class="main-row-col">
                        <a href="./page1.html" class="row-col-ref">
                            <img src="../static/img/宮原眼科_0.jpg" alt="photo9" class="col-photo">
                        </a>
                        <div class="main-row-col-describe">
                            <div class="describe-title">
                                宮原眼科
                            </div>
                            日出集團將老建築重新打造，距台中火車站兩分鐘路程，旅人都會買上一份日出乳酪蛋糕、鳳梨酥，和來杯珍珠奶茶和冰淇淋
                        </div>
                    </div>
                    <div class="main-row-col">
                        <a href="./page1.html" class="row-col-ref">
                            <img src="../static/img/勤美術館_0.jpg" alt="photo9" class="col-photo">
                        </a>
                        <div class="main-row-col-describe">
                            <div class="describe-title">
                                勤美術館
                            </div>
                            一個無牆也無疆界的美術館，讓藝術更貼近民眾生活。臨近誠品旗艦店，加上與草悟道串連，共同打造出台中市「街區博物館」
                        </div>
                    </div>
                    <div class="main-row-col">
                        <a href="./page1.html" class="row-col-ref">
                            <img src="../static/img/鰲峰山_0.jpg" alt="photo9" class="col-photo">
                        </a>
                        <div class="main-row-col-describe">
                            <div class="describe-title">
                                鰲峰山觀景平台
                            </div>
                            每到假日總會吸引不少民眾前往，加上空氣清新、環境幽靜，是一處臺中適合全家運動休憩的好所在
                        </div>
                    </div>
                </div>
            </article>
        </div> 

        <footer class="footer">
            copyright2019
        </footer>
    </div>
</body>
</html>