<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
    <title>Travel</title>
</head>
<body>
    <div class="container-all">
        <header class="header">
            <div class="header-row">
                <div class="header-col">
                    <a href="./index.html" class="header-a"><img src="../static/img/world.png" alt="" class="header-icon"></a>
                    <p class="header-slogan">全台最大旅遊景點平台</p> 
                </div>
                <div class="header-col">

                </div>
            </div>
        </header>

        <div class="content-area">
            <aside class="aside">
                <div class="aside-title">
                    台灣頻道
                </div>
                <a href="./雙北.html" class="aside-link">
                    <div class="aside-content">
                        雙北
                    </div>
                </a>
                <a href="./桃園.html" class="aside-link">
                    <div class="aside-content">
                        桃園
                    </div>
                </a>
                <a href="./city3.html" class="aside-link">
                    <div class="aside-content">
                        新竹
                    </div>
                </a>
                <a href="./city4.html" class="aside-link">
                    <div class="aside-content">
                        台中
                    </div>
                </a>
                <a href="./city5.html" class="aside-link">
                    <div class="aside-content">
                        嘉義
                    </div>
                </a>
                <a href="./city6.html" class="aside-link">
                    <div class="aside-content">
                        台南
                    </div>
                </a>
                <a href="./city7.html" class="aside-link">
                    <div class="aside-content">
                        高雄
                    </div>
                </a>
                <a href="./news.html" class="aside-link">
                    <div class="aside-content">
                        最新消息
                    </div>
                </a>
            </aside>
            <article class="main-area">
                <div class="main-row-title">
                    桃園景點
                </div>
                <div class="main-row">
                    <div class="main-row-col">
                        <a href="./大溪老街.html" class="row-col-ref">
                            <img src="../static/img/大溪老街_0.jpg" alt="photo9" class="col-photo">
                        </a>
                        <div class="main-row-col-describe">
                            <div class="describe-title">
                                大溪老街
                            </div>
                            桃園最早發展的地方，各商號融合巴洛克式繁飾主義和閩南傳統裝飾圖案，形成一種大溪專有的特色
                        </div>
                    </div>
                    <div class="main-row-col">
                        <a href="./page1.html" class="row-col-ref">
                            <img src="../static/img/慈湖陵寢_0.JPG" alt="photo9" class="col-photo">
                        </a>
                        <div class="main-row-col-describe">
                            <div class="describe-title">
                                慈湖陵寢
                            </div>
                            因中華民國先總統蔣介石先生長眠於此而聞名。慈湖分為前、後慈湖，湖岸水色迷人，楊柳垂青頗有江南風光之美
                        </div>
                    </div>
                    <div class="main-row-col">
                        <a href="./page1.html" class="row-col-ref">
                            <img src="../static/img/永安漁港_0.jpg" alt="photo9" class="col-photo">
                        </a>
                        <div class="main-row-col-describe">
                            <div class="describe-title">
                                永安漁港
                            </div>
                            是中壢區漁會轄區內的唯一漁港，屬於第二類漁港，亦為臺灣唯一以客家族群為主體的漁港，漁獲量主要供銷外縣市為主
                        </div>
                    </div>
                    <div class="main-row-col">
                        <a href="./page1.html" class="row-col-ref">
                            <img src="../static/img/石門水庫_0.jpg" alt="photo9" class="col-photo">
                        </a>
                        <div class="main-row-col-describe">
                            <div class="describe-title">
                                石門水庫
                            </div>
                            曾經是遠東最大的水庫，目前亦是台灣北部的重要水庫之一，一年四季，湖光山色，風景秀麗
                        </div>
                    </div>
                    <div class="main-row-col">
                        <a href="./page1.html" class="row-col-ref">
                            <img src="../static/img/小人國_0.jpg" alt="photo9" class="col-photo">
                        </a>
                        <div class="main-row-col-describe">
                            <div class="describe-title">
                                小人國主題樂園
                            </div>
                            位於桃園市龍潭區，成立於民國73年7月7日，是台灣著名的主題遊樂園。裡頭有4種不同的遊樂主題，其中以『迷你世界』最著名
                        </div>
                    </div>
                    <div class="main-row-col">
                        <a href="./page1.html" class="row-col-ref">
                            <img src="../static/img/小烏來天空步道_0.jpg" alt="photo9" class="col-photo">
                        </a>
                        <div class="main-row-col-describe">
                            <div class="describe-title">
                                小烏來天空步道
                            </div>
                            懸掛於小烏來瀑布上方，遊客只要站上距離瀑布底70公尺高的玻璃平台上，就能居高臨下欣賞小烏來溪谷的秀麗美景
                        </div>
                    </div>
                    <div class="main-row-col">
                        <a href="./page1.html" class="row-col-ref">
                            <img src="../static/img/虎頭山_0.jpg" alt="photo9" class="col-photo">
                        </a>
                        <div class="main-row-col-describe">
                            <div class="describe-title">
                                虎頭山
                            </div>
                            舊名為板崁山，海拔251公尺，離桃園市中心甚近，成為桃園市民假日休閒旅遊的好去處。虎頭山因其山勢外形有如猛虎而得
                        </div>
                    </div>
                    <div class="main-row-col">
                        <a href="./page1.html" class="row-col-ref">
                            <img src="../static/img/中壢觀光夜市_0.jpg" alt="photo9" class="col-photo">
                        </a>
                        <div class="main-row-col-describe">
                            <div class="describe-title">
                                中壢觀光夜市
                            </div>
                            整條夜市長約700公尺，人潮密集度相當高，也早已成為桃園數一數二大的夜間市集，更成為當地民眾夜間逛街的好選擇
                        </div>
                    </div>
                </div>
            </article>
        </div> 

        <footer class="footer">
            copyright2019
        </footer>
    </div>
</body>
</html>